# Ignore everything in the root directory
/*

# Except for the following explicitly allowed items
!/code_artifacts/
!/data/
!/examples/
!/output/
!/requirements.txt
!/setup.py
!/pyproject.toml

# Always include the .gitignore file itself
!/.gitignore
